- @title = 'Install Bitmask'
- @nav_title = 'Install'

.row.bm-front-buttons
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://play.google.com/store/apps/details?id=se.leap.bitmaskclient"}
      %i.fa.fa-android.fa-4x
      %br
      %b Android
      %br
      %small Bitmask
      %br
      %small 1.0.5
    %p
      %small
        %a{:href=>"android"}
          get .apk
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/RiseupVPN/linux/riseup-vpn_latest.snap"}
      %i.fa.fa-linux.fa-4x
      %br
      %b GNU/Linux
      %br
      %small RiseupVPN
      %br
      %small 0.20.4
    %p
      %small
      %br
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/RiseupVPN/osx/RiseupVPN-OSX-latest.pkg"}
      %i.fa.fa-apple.fa-4x
      %br
      %b macOS
      %br
      %small RiseupVPN
      %br
      %small 0.20.1
    %p
      %small
      %br
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/RiseupVPN/windows/RiseupVPN-win-latest.exe"}
      %i.fa.fa-windows.fa-4x
      %br
      %b Windows
      %br
      %small RiseupVPN
      %br
      %small 0.20.4
    %p
      %small
      %br
