- @title = 'Instálate Bitmask'
- @nav_title = 'Instálatelo'

.row
  .col-sm-8.col-sm-offset-2
    .p.alert.alert-danger
      %i.fa.fa-warning
        = t :warning

.row
  .col-sm-8.col-sm-offset-2
    .p.alert.alert-info
      %i.fa.fa-info-circle
        = t :providers_for_testers

.row.bm-front-buttons
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"android"}
      %i.fa.fa-android.fa-4x
      %br
      %b Android
      %br
      %small 4.0 y superiores
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"linux"}
      %i.fa.fa-linux.fa-4x
      %br
      %b GNU/Linux
      %br
      %small Debian, Ubuntu, Mint
  .col-sm-3.col-xs-6
    %a.btn.btn-default.disabled{:href=>"mac"}
      %i.fa.fa-apple.fa-4x
      %br
      %b Mac OS
      %br
      %small Pronto, muy pronto...
  .col-sm-3.col-xs-6
    %a.btn.btn-default.disabled{:href=>"windows"}
      %i.fa.fa-windows.fa-4x
      %br
      %b Windows
      %br
      %small Pronto...
