@import "variables.scss";
@import "content.scss";

//
// TYPOGRAPHY
//

a {
  color: $link-color;
}
a:visited {
  color: $link-visited-color;
}

a.btn.btn-primary {
  color: white;
}

.p {
  margin: 12px 0;
}

.content-box h1:first-child, .content-box h2:first-child {
  margin-top: 0px !important;
}

h2.hidey {
  font-size: 0;
  position: absolute;
  z-index: -1000;
}

.h1 {
  @extend h1;
  margin: 0;
}

.h2 {
  @extend h2;
  margin: 0;
}

h4 {
  margin-top: 20px;
}

//.h3 {
//  @extend h3;
//  margin: 0;
//}


//
// DESIGN ELEMENTS
//

.donation {border: 1px solid #FFE8A9; padding:0.5em; background-color: #FFF6DD; overflow: auto; display: inline-block;}

.locale-links a {
  color: $link-color;
  &:hover {
    color: $link-color !important;
    text-decoration: underline;
  }
  &.label-primary {
    color: white !important;
  }
}

//
// MASTHEAD
//

#masthead {
  background-color: $masthead-background-color;
  width: 100%;
  margin: 0;
  background-size: cover !important;
  .masthead-inner {
    .text {
      color: black;
      margin-left: 50%;
      width: 50%;
      font-weight: bold;
      font-family: Helvetica,Arial,sans-serif;
      &.bottom {
        display: none;
      }
    }
  }
}

// home masthead
body.home #masthead .text {
  position: relative;
  &.top {
    line-height: 0.85em;
    span {
      position: absolute;
      bottom: 0;
      left: -1px;
    }
  }
  &.bottom {
    display: block;
    span {
      font-weight: normal;
      background: rgba(255,255,255,0.5);
      padding: 4px;
    }
  }
}

// large masthead

#masthead {
  background: $masthead-background-color url(#{$masthead-large-img}) 50% 50%;
  .masthead-inner {
    height: $masthead-large-height;
    .text {
      padding-left: 4px;
      font-size: 70px;
      line-height: $masthead-large-height;
    }
  }
}

body.home #masthead .text {
  height: $masthead-large-height/2;
  &.bottom {
    font-size: 18px;
    line-height: 28px !important;
  }
}

// medium masthead

@media (max-width: 767px) {
  #masthead {
    background: $masthead-background-color url(#{$masthead-medium-img}) 50% 50%;
    .masthead-inner {
      height: $masthead-medium-height;
      .text {
        padding-left: 3px;
        font-size: 50px;
        line-height: $masthead-medium-height;
      }
    }
  }
  body.home #masthead .text {
    height: $masthead-medium-height/2;
    &.bottom {
      font-size: 12px;
      line-height: 22px !important;
    }
  }
}


// small masthead
// same as medium, but smaller 'bitmask' and hide bottom text.

@media (max-width: 540px) {
  #masthead {
    .masthead-inner {
      .text {
        padding-left: 1px;
        font-size: 36px;
      }
    }
  }
  // no .bottom, make .top fill whole space
  body.home #masthead .text {
    height: $masthead-medium-height;
    line-height: $masthead-medium-height !important;
    &.bottom {
      display: none;
    }
  }
}

#top-menu {
  position: absolute;
  bottom: 0px;
  margin: 0;
  li {
    float: left;
  }
  a {
    display: block;
    padding: $menu-padding;
    color: $menu-text-color;
    font-size: 14px;
    line-height: 20px;
    background-color: $menu-background-color;
  }
  a.active {
    background-color: $background-color;
    color: $menu-text-color;;
    //box-shadow: inset $menu-shadow-size $menu-shadow-size $menu-shadow-blur $menu-shadow-color;
  }
}

@media only screen and (max-width: 767px) {
  #top-menu a {
    padding: 2px 10px;
    font-size: 12px;
  }
}

//
// MIDDLE
//

#main {
  margin-top: $gutter;
}

body {
  background-color: $background-color;
}

.shadow-box {
  background-color: $content-background-color;
  border: 1px solid $content-border-color;
  box-shadow: $content-shadow-size $content-shadow-size $content-shadow-blur $content-shadow-color;
}

.title-box {
  color: black;
  background-color: $title-background-color;
  padding: $gutter;
  border-bottom: 1px dotted $title-divider-color;
  h1 {
    margin: 0;
  }
  .summary {
    color: #666;
    line-height: 1.5em;
    margin-top: 10px;
  }
}

.content-box {
  padding: $gutter;
}

//
// SIDEBAR
//

#sidebar {
  padding-right: 0;
  margin-bottom: 15px;
  #navigation {
    background-color: $navigation-item-background-color;
    @if $navigation-border {
      border: $navigation-border;
    }
    @if $navigation-shadow {
      box-shadow: $navigation-shadow;
    }
  }
  ul.nav.nav-pills.nav-stacked {
    li a {
      color: $navigation-item-color;
      border-radius: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    li.active a {
      background-color: $navigation-item-active-background-color;
      color: $navigation-item-active-color;
    }
  }
  li.level2 a {padding-left: $gutter*2;}
  li.level3 a {padding-left: $gutter*3;}
  .sidebar-addendum {
    margin-top: $gutter;
  }
}

@media (max-width: 768px) {
  #sidebar {
    padding-right: 15px; // hard coded bootstrap gutter for now.
  }
}

//
// FOOTER
// see http://getbootstrap.com/examples/sticky-footer/
//

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -1 * ($footer-height + $footer-gutter);
  padding: 0 0 ($footer-height + $footer-gutter);
}

#footer {
  padding-top: $footer-gutter;
  //height: $footer-height - $footer-border-width;
  #footer-inner {
    height: $footer-height;
    border-top: $footer-border-width solid $footer-border-color;
    background-color: $footer-background-color;
    @if $footer-shadow {
      box-shadow: inset $footer-shadow-size $footer-shadow-size $footer-shadow-blur $footer-shadow-color;
    }
  }
}

@media (max-width: 767px) {
  #footer .footer-text {
    font-size: 80%;
    margin: 0 2px;
  }
}

// footer styling

#footer .footer-text {
  text-align: center;
  padding-top: 10px;
  a, & {
    color: $footer-color;
    margin: 4px 5px;
  }
}

//
// UTILITY
//

.image-right {
  margin-left: $gutter;
  margin-bottom: $gutter;
}

//
// HOME PAGE
//

body.home {
  .content-box {
    padding: 20px;
  }
  .heading {
    i {
      padding-right: 10px;
    }
    span {
      color: #333;
    }
    margin: 20px 0 0px 0;
    font-size: 28px;
  }
  .thumbnail {
    word-break: break-all;
    .b {
      font-size: 16px;
    }
  }
  p.big {
    font-size: 16px;
  }
  .download a {
    color: white !important;
    font-size: 16px;
    i, span {
      line-height: 35px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .light, .dark, .lighter, .darker {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .dark, .darker {
    color: $home-dark-color;
    background-color: $home-dark-background-color;
    a {
      color: lighten($link-color, 30%);
    }
    a:visited {
      color: lighten($link-visited-color, 30%);
    }
  }
  .darker {
    background-color: darken($home-dark-background-color, 5%);
  }
  .light, .lighter {
    color: $home-light-color;
    background-color: $home-light-background-color;
  }
  .lighter {
    background-color: lighten($home-light-background-color, 20%);
  }
  .b {
    font-weight: bold;
  }
  .introtext {
    font-size: 1.5em;
  }
  ul.fa-ul {
    margin-left: 22px;
  }
}

