#footer-inner
  .container
    .row
      .col-sm-12
        %div.footer-text
          %div.creativecommons
            %a(href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license")<
              (cc) Attribution, Share-Alike
            %a(href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license")<
              %img(alt="Creative Commons License" src="/assets/images/by-sa-3.0-80x15.png" style="border-width:0; vertical-align: text-top")
            &nbsp;
            &#169; 2014
            %a(href="https://leap.se")=t :leap
