#footer-inner
  .container
    .row
      .col-sm-12
        %div.footer-text
          %div.creativecommons
            %a(href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru" rel="license")<
              (cc) Атрибуция — На тех же условиях
            %a(href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru" rel="license")<
              %img(alt="Creative Commons License" src="/assets/images/by-sa-3.0-80x15.png" style="border-width:0; vertical-align: text-top")
            &nbsp;
            &#169; 2015-2020
            %a(href="https://leap.se")=t :leap
