- @title = 'Bitmask Features'
- @nav_title = 'Features'

%h1#vpn VPN features

%p With Bitmask VPN, all your traffic is securely routed through your provider before it is decrypted and sent on to the open internet.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Thwart Network Surveillance</b><br>
    Bitmask VPN is very effective at bypassing most censorship and network surveillance by your ISP or country.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Anonymize your address</b><br>
    Your IP address will also be hidden, keeping your physical location safe from nefarious websites or network eavesdroppers.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Extra Security</b><br>
    We take extra security measures to prevent problems common to other personal VPNs, such as DNS leakage and IPv6 leakage.



%h1 Security features

.row
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Allows anonymous usage</b><br>
        LEAP providers can enable the VPN usage using a anonymous certificate as verification method. No Passwords needed!
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Passwords, Improved</b><br>
        Although you specify a username and password to login, your [[password is never communicated to the provider => https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol]].
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Pluggable Transports</b><br>
        Bitmask Android supports Pluggable Transports to circumvent VPN blockings.
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Firewall</b><br>
        RiseupVPN, the branded version of Bitmask for desktops supports extra firewalling to prevent data leakage (currently Linux and MacOSX, Windows coming soon). 
    
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-clock-o
        <b>Up to date</b><br>
        The Bitmask application is always kept up to date with the latest security patches.
      %li
        %i.fa-li.fa.fa-institution
        <b>Don't trust the provider</b><br>
        When you download Bitmask from [[dl.bitmask.net => https://dl.bitmask.net]], your service provider will not be able to distribute to you a compromised client with a backdoor.

%p As with any security system, Bitmask has [[known limitations => https://leap.se/en/limitations]]. For technical details, see our [[design documentation => https://leap.se/en/design]].
