- @title = 'Funcionalidad de Bitmask'
- @nav_title = 'Funcionalidad'

%h1#vpn VPN 

%p Con Bitmask VPN, todo el tráfico se enruta de forma segura a través de tu proveedor antes de ser descifrado y enviado a la Internet abierta.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Frustra la Vigilancia en la Red</b><br>
    Bitmask VPN es muy efectiva para anular la mayor parte de la censura y vigilancia en la red por parte de tu ISP o tu país.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Anonimiza tu direccion IP</b><br>
    Bitmask VPN también esconde tu dirección IP, manteniendo así tu localización física a salvo de sitios web de dudosa intencionalidad o intercepciones en la red.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Seguridad Extra</b><br>
    Tomamos algunas medidas extra de seguridad para evitar problemas comunes a otras aplicaciones de VPN, tales como filtración de DNS o filtrado IPv6.

%h1#email Correo Electrónico Cifrado

%p El Mail Cifrado de Bitmask es fácil de usar, permaneciendo compatible con el protocolo OpenPGP existente para correo electrónico seguro.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Cifrado completo de principio a fin</b><br>
    Siempre que resulte posible, todos los mensajes se cifran de un extremo a otro en el dispositivo cliente.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Almacenamiento Seguro</b><br>
    Todo el correo electrónico entrante es cifrado automáticamente, de modo que sólo tú puedes leerlo (incluyendo los metadatos).
  %li
    %i.fa-li.fa.fa-check-square
    <b>Gestión Automática de Claves</b><br>
    El usuario nunca necesita saber acerca de, o preocuparse, sobre la generación, descubrimiento o validación de claves.


%h1 Seguridad

.row
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-save
        <b>Almacenamiento Cifrado en el Cliente</b><br>
        Todo el almacenamiento de datos está cifrado, incluyendo tanto tus datos locales como los backups en la nube. Este cifrado siempre [[tiene lugar en tu dispositivo => https://leap.se/es/soledad]], de forma que tu proveedor no puede leer los datos que almacenas.
      %li
        %i.fa-li.fa.fa-exchange
        <b>Siempre Disponible</b><br>
        Tus datos están siempre disponibles, incluso cuando estás desconectado, [[sincronizados con los dispositivos => https://leap.se/es/soledad]] de tu elección y replicados en la nube.
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Contraseñas, Mejoradas</b><br>
        A pesar de que especificas un nombre de usuario y una contraseña para loguearte, tu [[contraseña nunca viaja al proveedor => https://es.wikipedia.org/wiki/Secure_Remote_Password]].
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-clock-o
        <b>Siempre Actualizado</b><br>
        La aplicación Bitmask va a mantenerse siempre actualizada con los últimos parches de seguridad (muy pronto).
      %li
        %i.fa-li.fa.fa-institution
        <b>No te fies de tu proveedor</b><br>
        Si te descargas la aplicación Bitmask desde [[dl.bitmask.net => https://dl.bitmask.net]], tu proveedor de servicios no puede añadir una puerta trasera para comprometer tu seguridad.

%p Como cualquier sistema de seguridad, Bitmask tiene una serie de [[limitaciones conocidas => https://leap.se/es/limitations]]. Para los detalles técnicos, mírate nuestros [[documentos de diseño => https://leap.se/es/design]].
