- @title = 'Funcionalidad de Bitmask'
- @nav_title = 'Funcionalidad'

%h1#vpn VPN 

%p Con Bitmask VPN, todo el tráfico se enruta de forma segura a través de tu proveedor antes de ser descifrado y enviado a la Internet abierta.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Frustra la Vigilancia en la Red</b><br>
    Bitmask VPN es muy efectiva para anular la mayor parte de la censura y vigilancia en la red por parte de tu ISP o tu país.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Anonimiza tu direccion IP</b><br>
    Bitmask VPN también esconde tu dirección IP, manteniendo así tu localización física a salvo de sitios web de dudosa intencionalidad o intercepciones en la red.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Seguridad Extra</b><br>
    Tomamos algunas medidas extra de seguridad para evitar problemas comunes a otras aplicaciones de VPN, tales como filtración de DNS o filtrado IPv6.


%h1 Seguridad

.row
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Contraseñas, Mejoradas</b><br>
        A pesar de que especificas un nombre de usuario y una contraseña para loguearte, tu [[contraseña nunca viaja al proveedor => https://es.wikipedia.org/wiki/Secure_Remote_Password]].
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-clock-o
        <b>Siempre Actualizado</b><br>
        La aplicación Bitmask va a mantenerse siempre actualizada con los últimos parches de seguridad para Android y Linux. L@s usuari@s de Windows y Mac actualmente necesitan actualizar manualmente, pero estamos trabajando en mecanismos de actualización automática también.
      %li
        %i.fa-li.fa.fa-institution
        <b>No te fies de tu proveedor</b><br>
        Si te descargas la aplicación Bitmask desde [[dl.bitmask.net => https://dl.bitmask.net]], tu proveedor de servicios no puede añadir una puerta trasera para comprometer tu seguridad.

%p Como cualquier sistema de seguridad, Bitmask tiene una serie de [[limitaciones conocidas => https://leap.se/es/limitations]]. Para los detalles técnicos, mírate nuestros [[documentos de diseño => https://leap.se/es/design]].
