- @title = 'Возможности Bitmask'
- @nav_title = 'Возможности'

%h1#vpn Возможности VPN

%p С Bitmask VPN весь ваш трафик надежно перенаправляется через выбранного вами провайдера, прежде чем он расшифровывается и посылается в открытый интернет.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Помеха сетевой слежке</b><br>
    Bitmask VPN очень эффективен в обходе большинства способов цензуры и сетевой слежки интернет-провайдерами или государствами.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Анонимизация вашего адреса</b><br>
    Ваш IP-адрес также будет скрыт, сохраняя ваше физическое местоположение в безопасности от бесчестных веб-сайтов или сетевых подслушивателей.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Дополнительная безопасность</b><br>
    Мы принимаем дополнительные меры безопасности, чтобы предотвратить проблемы, общие для других персональных виртуальных частных сетей, таких как утечка DNS и утечка IPv6.

%h1#email Возможности электронной почты

%p Зашифрованная электронная почта Bitmask проста в использовании и в то же время обратно совместима с существующим протоколом OpenPGP для безопасной электронной почты.

%ul.fa-ul.spaced
  %li
    %i.fa-li.fa.fa-check-square
    <b>Полное сквозное шифрование</b><br>
    Всякий раз, когда это возможно, все сообщения шифруются непрерыно на клиентском устройстве.
  %li
    %i.fa-li.fa.fa-check-square
    <b>Безопасное хранение</b><br>
    Все входящие сообщения автоматически шифруются, потому только вы можете прочесть их (в том числе мета-данные).
  %li
    %i.fa-li.fa.fa-check-square
    <b>Автоматическое управление ключами</b><br>
    Пользователю не нужно беспокоиться о генерации, обнаружении или проверке ключей.


%h1 Возможности безопасности

.row
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-exclamation-circle
        <b>Усовершенствованные пароли</b><br>
        Несмотря на то, что вы указываете имя пользователя и пароль для авторизации, ваш [[пароль никогда не сообщается провайдеру => https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol]].
  .col-sm-6
    %ul.fa-ul.spaced
      %li
        %i.fa-li.fa.fa-clock-o
        <b>Актуальность</b><br>
        Приложение Bitmask всегда находится в актуальном состоянии относительно последних патчей безопасности (скоро выйдут).
      %li
        %i.fa-li.fa.fa-institution
        <b>Не доверяйте провайдеру</b><br>
        Когда вы загружаете Bitmask с [[dl.bitmask.net => https://dl.bitmask.net]], у вашего сервис-провайдера нет возможности распространять вам скомпрометированный клиент с бэкдором.

%p Как и у любой системы безопасности, у Bitmask есть [[известные ограничения => https://leap.se/en/limitations]]. Для технических деталей смотрите нашу [[проектную документацию => https://leap.se/en/design]].
