- @title = 'Bitmask Help'
- @nav_title = 'Help'
- @this.toc = false

%br

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-support
  .col-xs-11.text-left
    %h2 [[Support => help/support]]
    %p Get support, create a help ticket, fill out bug reports, ask for new features.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-flag-checkered
  .col-xs-11.text-left
    %h2 [[Getting Started => help/getting-started]]
    %p Running Bitmask for the first time.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-shield
  .col-xs-11.text-left
    %h2 [[VPN => help/vpn]]
    %p How to protect your traffic from censorship and surveillance by using Bitmask VPN.

%hr
