- @title = 'Help'

.h2
  %i.fa.fa-shield
  %span
    [[VPN => help/vpn]]

%p.pad With Bitmask VPN, all your traffic is securely routed through your provider before it is decrypted and sent on to the open internet.

.h2
  %i.fa.fa-envelope
  %span
    [[Encrypted Email => help/email]]

%p.pad Bitmask Encrypted Email is easy to use while still being backward compatible with the existing OpenPGP protocol for secure email.
