- @title = 'Ayuda de Bitmask'
- @nav_title = 'Ayuda'
- @this.toc = false

%br

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-support
  .col-xs-11.text-left
    %h2 [[Soporte => help/support]]
    %p Obtén soporte, envía un ticket de ayuda, reporta algún fallo o pide nuevas funcionalidades.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-flag-checkered
  .col-xs-11.text-left
    %h2 [[Comenzando => help/getting-started]]
    %p Corriendo Bitmask por primera vez.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-shield
  .col-xs-11.text-left
    %h2 [[VPN => help/vpn]]
    %p Cómo proteger tu navegación de la censura y la vigilancia usando Bitmask VPN.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-envelope
  .col-xs-11.text-left
    %h2 [[Encrypted Email => help/email]]
    %p Cómo enviar y recibir fácilmente mensajes seguros con el Correo Cifrado de Bitmask.
