- @title = 'Помощь по Bitmask'
- @nav_title = 'Помощь'
- @this.toc = false

%br

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-support
  .col-xs-11.text-left
    %h2 [[Поддержка => help/support]]
    %p Получить поддержку, создать запрос на получение помощи, заполнить отчеты об ошибках, запрос на новую функциональность.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-flag-checkered
  .col-xs-11.text-left
    %h2 [[Начало работы => help/getting-started]]
    %p Запуск Bitmask в первый раз.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-shield
  .col-xs-11.text-left
    %h2 [[VPN => help/vpn]]
    %p Как защитить свой трафик от цензуры и слежки с помощью Bitmask VPN.

%hr

.row
  .col-xs-1.text-right
    %h2
      %i.fa.fa-envelope
  .col-xs-11.text-left
    %h2 [[Зашифрованная электронная почта => help/email]]
    %p Как легко отправлять и получать защищенные сообщения с помощью зашифрованной электронной почты Bitmask.
